<div class="alert fade in" style="margin: 20px;">
  <strong>Vielen Dank für Ihre Registrierung</strong> Eine E-Mail mit weiteren Informationen wurde an die von Ihnen angegebene Adresse versendet.
</div>
