<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 

<html>
  <head> 
	 <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	 <style type="text/css"> 
	  html{background-color:#D4D8E1}
	  a{color: #dc7802;}	
		body{background-color:#D4D8E1;margin:0;padding:0;padding-left:5px;color: #494848; font-size: 12px;}
		
		#header{ 
			width: 696px;
			height: 112px;
			margin: 10px auto;
			padding-top: 20px;
			background: url(http://www.siimbyant.de/system/assets/1/small/Logo_small.png)left top no-repeat;
		}
		
		#header h1 {margin: 0px 0 0 31px; padding: 0; font: 220% "Geneva","Tahoma", "Verdana" ,sans-serif; letter-spacing: 1.2px; color: #64a729;} 
		#header h2 {margin: 0px 0 0 31px; padding: 0; font: 130% "Verdana", "Geneva","Tahoma", "Verdana" ,sans-serif; letter-spacing: 1.0px; color: #64a729;}
		

		#content{ background: #FFF; margin: 0 auto; width: 646px; padding: 20px; }
		#content h3{ font-size: 120%; color: #003959; font-weight: bold;}
		
		#footer{
			background: url(http://www.siimbyant.de/images/new_layout/logo.png)right bottom no-repeat;
			margin: 0 auto;
			width: 696px;
			font-size: 80%;
		}
		
		#footer h3{
			margin: 25px 5px 0 5px;
			padding: 0 25px;
		}
		#footer p{ padding: 0 25px; margin: 5px; }
	 </style>
	</head>
<body>
	 
  <div id="header">
  	<h1>Umweltcockpit</h1>
  	<h2>das Informationssytem für effektives Umweltmanagement</h2>
  </div>

  <div id="content">
  	 <h3><%= @prospective.display_salutation -%></h3>
	 
  	<p>vielen Dank für Ihr Interesse an Umweltcockpit, dem browsergestützten Informationssystem für das betriebliche Umweltmanagement.</p>

    <p>Umweltcockpit steht Ihnen online als "Software As A Service" zur Verfügung. Weiterhin ist auch eine direkte Integration in Ihr firmeninternes Netzwerk möglich.</p>

    <p>Wir werden uns sobald wie möglich mit Ihnen in Verbindung setzen, um weitere Einzelheiten zu besprechen.</p>
  <br/><br/>
    <p>Mit freundlichen Grüßen</p>
    <p>Ihr Siimbyant Kundenservice</p>
  </div>

  <div id="footer">
  	<h3>Impressum</h3>

  	<p>Siimbyant UG (haftungsbeschränkt)</p>

  	<p>Oranienstr. 183-184 Aufgang B<br/>10999 Berlin</p>

  	<p>Tel. 030-76 23 10 83<br/>Fax. 030-76 23 10 85</p>

  	<p>E-Mail:info@siimbyant.de<br/>Internet:www.siimbyant.de</p>

  	<p>Sitz der Gesellschaft Berlin</p>	
  	<p>Amtsgericht Charlottenburg, HRB 127157</p>
  	<p>Vertretungsberechtigter Geschäftsführer Boris Raeschler</p>
  </div>

	</body>
</html> 
